.professional-experience,
.university-experience {
  padding-bottom: 50px;
}

.sub-heading {
  font-weight: bold;
}

.role-title,
.project-title {
  text-align: left;
}

.job-duration,
.project-duration {
  text-align: right;
}

* {
  font-family: Helvetica;
  color: #004225;
}

table,
tr {
  border: 1px solid black;
}
