body {
  font-family: "Open Sans", sans-serif;
  background-image: url(https://jonathanoh59.github.io/resources/images/pixel-sun.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.professional-experience,
.university-experience,
.independent-experience {
  padding-bottom: 50px;
}

.sub-heading {
  font-weight: bold;
}

.role-title,
.project-title,
.study-title {
  text-align: left;
}

.table-header-left {
  text-align: left;
  padding: 1px;
}

.table-header-centre {
  text-align: center;
}

.table-header-right {
  text-align: right;
  padding: 1px 1px 1px 5px;
}

.job-duration,
.project-duration,
.study-duration {
  text-align: right;
}

* {
  font-family: Helvetica;
  color: #004225;
}

table {
  border: 1px solid black;
  table-layout: auto;
  width: 100%;
}

tr {
  border: 1px solid black;
}

th {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 1px;
}

td {
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  padding: 10px 0px;
}

.education td {
  vertical-align: top;
}

.course-name {
  text-align: left;
}

.course-dates {
  text-align: right;
}

.course-grades,
.course-location {
  text-align: center;
}
